.alert {
    padding: 6px;
    background-color: #4CAF50;
    color: white;
    width: 50%;
}
.alert2,p {
    padding: 1px;
    background-color: #f44336;
    color: white;
    width: 50%;
    text-align: right;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
